*{
  box-sizing:border-box;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  padding: 40px;
}

.flex-container>div{
  display: flex;
  padding-left: 50px;
}

.input{
  font-size: 20px;
  border-radius: 10px;
}

.Nav{
  display: flex;
  flex-direction:column;
  padding: 10px;
  justify-content: space-around;


}
